{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>QRLinker</title>
    <link rel="icon" href="{% static "web/fonts/icon.png" %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static "web/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "web/css/1-col-portfolio.css" %}" rel="stylesheet">


</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'web:index' %}">QR Linker</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a onclick="changeExplain()">About</a>
                        <script>
                        function changeExplain() {
                            document.getElementById("explain").innerHTML = "This web side has been done in HackGT@UPC 2016 \n thanks to: \n     Circosta for https://github.com/cirocosta/qcode-decoder\n     startbootstrap for http://startbootstrap.com/template-overviews/1-col-portfolio/\n     Irsjng for https://larsjung.de/jquery-qrcode/";
                        }
                        </script>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- QR -->
        <div class="row">
            <div class="col-md-7">
                <!-- EXPLAIN AND BUTTONS-->
                <p id="explain">You can link 2 browsers. The first one whit the QR and the second click in "Cam" and scan the file. Next upload the file from one browser and the second will download</p>
                <!-- UPLOAD FILE -->
                <form action="uploadFile" enctype="multipart/form-data" method="post">
                    <p> Please specify a file, or a set of files:<br>
                        <input type="file" name="docfile" size="40">
                    </p>
                    <div>
                        <input type="submit" value="Send">
                    </div>
                </form>
                <!-- DOWNLOAD FILE -->
                <script>
                    var down = false;
                    setInterval(function() {
                    var posting = $.post('downloadFile');
                    posting.done(function(data) {
                        if (data !== "-1" && !down) {
                        window.open(data);
                        down = true;
                        }
                    });
                }, 1*1000);
                </script>
                <!-- FINAL EXPLAIN AND BUTTONS -->
                </a>
            </div>
            <div class="col-md-5">
                <!-- AQUI EL FILE MANAGER -->
                <!-- FINAL FILE MANAGER -->
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static "web/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "web/js/bootstrap.min.js" %}"></script>
    
</body>

</html>
